body {
font-family: 'Alegreya Sans', sans-serif;
    font-size: 17px;
    color: #2c3e50;
    overflow-x: hidden;
}

li.active a {
    color: #3498db !important;
}

.navbar-brand {
font-size: 23px;
color: #3498db !important;
}

.navbar-tickets {
color:#3498db !important;
}

.navbar-right a:hover {
    background-color: #FFFFFF !important;
}

section#home {
 background-color: #302727;
padding-top: 50px;
}

@media (min-width: 598px) and (max-width: 602px) {
    #logo-react {
        padding-top: 16px;
    }
}
@media (min-width: 319px) and (max-width: 321px) {
#city{
    font-size: 12px;
}
.header-social a {
color: white;
margin-left: 7px;
font-size: 10px;
}

}
@media (max-width: 1024px) {
.header-social{
float:right;
color: white;
}
.header-social a {
color: white;
margin-left: 7px;
font-size: 10px;
}
 #sponsors {
 text-align: center;
 }
}

@media (min-width: 992px) {
.header-social{
float:right;
color: white;
}
.header-social a {
color: white;
margin-left: 10px;
font-size: 12px;
}

.row {
  margin-left: 0px;
    margin-right: 0px;
}

#home #name-react  {
font-size: 71px;
color: #FFFFFF;
text-align: right;
}
#home #date-react a {
    color: #FFFFFF;
    text-decoration: none;
}
#home #date-react {
font-size: 18px;
    margin-top: -15px;
    color: #FFFFFF;
    padding-left: 142px;
    text-align: right;
}
#home #text-react {
margin-top: 80px;
}
    #map-dialog{
   position: absolute;
top: 218px;
background: #FFF;
padding: 25px;
}

    .img-circle{
    width:100px;
    height:100px;
    background: #e7e7e7;
}
}
@media (max-width: 992px) {
 .row {
  margin-left: 0px;
    margin-right: 0px;
}
#home {
}
#text-react{
    padding-top: 25px;
}
#home #text-react  {
font-size: 54px;
color: #FFFFFF;
    text-align: right;
}

#home #date-react a {
    color: #FFF;
text-decoration: none;
}
#home #date-react {
font-size: 20px;
    color: #FFFFFF;
    text-align: right;
    margin-top: -15px;
}
#logo-react {
    text-align: left;
}
#logo-react img{
    width: 150px;
    height: 150px;
}
 #about p {
padding-left: 15px;
}
#sponsors {
text-align: center;
}
#map-dialog{
    background: #FFF;
    padding: 25px;
}
    .img-circle{
    width:50px;
    height:50px;
    background: #e7e7e7;
}
}

@media (max-width: 767px) {
    #home {
margin-top: 0px;
}
    h2.title {
font-size: 30px;
}

h3.media-heading {
font-size: 22px;
}

h4.title {
font-size: 15px;
}

}
@media (max-width: 768px) {

#home{
    padding-bottom: 5px;
}

h2.title {
font-size: 30px;
}

.media-left-re {
    width: 75px;
    padding: 15px;
    background-color: rgb(54,69,80);
}
.container-media-icons {
color: rgb(224, 126, 36);
text-align: left;
margin-top: 10px;
font-size: 14px;
}
.img-circle-re {
    border: 2px solid rgb(224, 126, 36);
}

#text-react{
    padding-top: 18px;
}
#home #text-react  {
font-size: 23px;
color: #FFFFFF;
    text-align: right;
}
#home #date-react a {
    color: #FFFFFF;
    text-decoration: none;
}

#home #date-react {
font-size: 16px;
    color: #FFFFFF;
    text-align: right;
    margin-top: -15px;
}
#logo-react {
    text-align: left;
    padding-top: 4px;
    padding-left: 0px;
}
#logo-react img{
    width: 100px;
    height: 100px;
}
 #about p {
padding-left: 15px;
}
#sponsors {
text-align: center;
}
#map-dialog{
    background: #FFF;
    padding: 30px;
}
    .img-circle{
    width:50px;
    height:50px;
    background: #e7e7e7;
}
#city {
    display: block;
}
  .code-re {
      margin-left: 15px;
  }
.foot div{
display: block;
}

.google-form {
 width: 280px;
height: 500px;
}

}

@media (max-width: 320px) {
#home #text-react  {
font-size: 20px;
color: #FFFFFF;
    text-align: right;
}
}

@media (max-width: 568px) {
#schedule .fa.pull-right {
font-size: 15px;
    margin: 15px 0px 0px 5px;
}

}

@media (min-width: 559px) and (max-width: 562px) {
#home {
margin-top: -100px !important;
}
}

#about a {
color: rgb(224, 126, 36);
}

section#about {
    padding-bottom: 60px;
}

h2.title {
    text-align: center;
    margin: 60px 0px 30px;
    color: #2c3e50;
}

h2.thin {
font-weight: 300;
}

section#about>div {
font-size: 20px;
}

.btn-re {
color: #2c3e50 !important;
font-weight: bolder;
font-size: 20px;
}

.btn:hover {
color: #FFFFFF !important;
}

.fa-border {
border-color: #2c3e50;
}

.fa-border:hover {
border-color: #FFFFFF;
}


section#speakers {
    padding-bottom: 40px;
    background-color: #f0f0f0;
}

/*#speakers .speaker-img {
cursor: pointer;
}*/

.speaker {
    margin-bottom: 20px;
}

.media-heading {
margin: 0px 0px 5px;
font-weight: bolder;
}

/*.media-heading:hover {
cursor: pointer;
}*/

.media-sub {
margin: 0px;
font-size: 20px;
font-weight: 500;

}

section#getting-there {
background-color: #f0f0f0;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
    padding-bottom: 70px;
    position:relative;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

#location-address a {
    color: #173075;
}

#location-address a:hover {
 text-decoration: none;
}

.panel-title a {
height: 55px;
line-height: 55px;
display: block;
color: #000;
padding: 0 30px;
font-size: 22px;
text-decoration: none;
}

span.calendar-day {
font-weight: bolder;
    margin-left: 5px;
}

#schedule .fa.pull-right {
padding-top: 7px;
}

.panel-default {
border-color: #FFFFFF;
}

.panel-heading {
padding: 0px;
border-bottom: 2px solid #173075 !important;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}

.fa-calendar-react {
color: rgb(224, 126, 36);
}

.pull-right {
margin-top: 12px;
}

.media a:hover {
text-decoration: none;
}

@media (min-width: 768px) {
h2.title {
font-size: 39px;
font-size: 39px;
}
.media-left-re {
    width: 150px;
    padding: 15px;
    background-color: rgb(54,69,80);
}
    .container-media-icons {
color: rgb(224, 126, 36);
text-align: center;
margin-top: 10px;
}
    .img-circle-re {
    border: 4px solid rgb(224, 126, 36);
}
    .foot div{
display: inline-block;
}

.ticket-modal {
    width: 700px;
    text-align: center;
}

.google-form {
 width: 600px;
height: 500px;
}

}


.media-body-re {
margin-right: 20px;
}

.media-heading-re {
    color: #000;
    margin: 0px 0px 12px 0px;
    letter-spacing: 2px;
}

.media-body p {
color: #777;
}


.foot .name {
font-weight: bolder;
color: #5f5f5f;
}

.foot div:after {
content: '|';
margin: 0px 15px;
color: #ebebeb;
font-weight: 400;
font-size: 18px;
}

.foot div:last-child:after {
display: none;
}

.name i {
color: rgb(224, 126, 36);
font-size: 20px;
    margin-right: 5px;
}

.foot .pro {
color: #5f5f5f;
}

.foot .links a{
color: #9f9f9f;
padding-right: 15px;
}

.media-container {
padding-top: 20px;
}


.schedule-table thead {
background-color: #2c3e50;
color: #FFFFFF;
font-size: 25px;
text-transform: uppercase;
}

.schedule-table .special {
background-color: rgb(224, 126, 36);
    color: #FFFFFF;
    text-align: center;
}

.table {
    margin-bottom: 0px;
}

.table > thead > tr > th {
text-align: center;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td {
border: 2px solid #FFFFFF !important;
}

.table-re {
margin-top: 30px;
}

section#schedule {
padding-bottom: 50px;
}

section#sponsors {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding-bottom: 70px;
}

#sponsors h4 {
color: rgb(224, 126, 36);
font-size: 15px;
font-weight: bolder;
letter-spacing: 2px;
margin-top: 70px;
text-align: center;
text-transform: uppercase;
}

#sponsors h2.title {
margin: 40px 0px 30px;
}

#sponsors h3{
text-align: center;
    color: rgb(224, 126, 36);
    font-weight: bolder;
}

#sponsors p {
text-align: center;
margin-top: 60px;
color: #2c3e50;
}

.wrapper-btn {
margin-top: 30px;
}

footer {
    border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
    padding: 30px 0;
}

.code-re {
float:left;
font-size: 15px;
margin-top: 8px;
  }
    .footer-social {
float:right;
}

.footer-social a {
margin-right: 10px;
}

.venue-logo {
    height:40px;
}

section#organizers {
background: #f0f0f0;
 padding-bottom: 60px;
}

#organizers .img-circle-org {
border: 1px solid rgb(224, 126, 36);
}

#organizers a {
text-decoration: none;
}

#organizers .container>div {
padding: 15px;
}

#react-date-link {
    border-bottom: dotted 2px white;
    margin: 0;
display: inline;
}
@media (min-width: 598px) and (max-width: 602px) {
    #logo-react {
        padding-top: 16px;
    }
    #about p {
        font-size: 17px;
    }
.header-social a {
color: white;
margin-left: 7px;
font-size: 12px;
}
}

.subtitle {
    text-align: center;
    margin-bottom: 30px !important;
}

.speaker-title{
    margin-bottom: 0px !important;
}

.meetups {
  margin-bottom: 2em;
}
