/**
 * HTML styles
 */

body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 17px;
    color: #2c3e50;
    overflow-x: hidden;
}

/**
 * Bootstrap overrides
 */

.row {
    margin-left: 0px;
    margin-right: 0px;
}

li.active a {
    color: #3498db !important
}

.navbar-brand {
    font-size: 23px;
    color: #3498db !important;
}

.navbar-right a:hover {
    background-color: #FFFFFF !important
}

.btn:hover {
    color: #FFFFFF !important
}

.media-heading {
    margin: 0px 0px 5px;
    font-weight: bolder;
}

@media (max-width: 768px) {
    h3.media-heading {
        font-size: 22px
    }
}

.table {
    margin-bottom: 0px
}

.table > thead > tr > th {
    text-align: center
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td {
    border: 2px solid #FFFFFF !important
}

/**
 * General styles
 */

.img-circle {
    background: #e7e7e7
}

@media (min-width: 992px) {
    .img-circle {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 992px) {
    .img-circle {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .img-circle-re {
        border: 2px solid rgb(224, 126, 36)
    }
}

@media (max-width: 768px) {
    h2.title {
        font-size: 30px
    }

    h4.title {
        font-size: 15px
    }
}

h2.title {
    text-align: center;
    margin: 60px 0px 30px;
    color: #2c3e50;
}

.fa-calendar-react {
    color: rgb(224, 126, 36)
}

.pull-right {
    margin-top: 12px
}

@media (min-width: 768px) {
    h2.title {
        font-size: 39px;
        font-size: 39px;
    }
}

.navbar-tickets {
    color: #3498db !important
}

/**
 * Section: HEADER
 */

#home {
    margin-top: 51px; /* prevent top-navbar overlap */

    /* http://www.colorzilla.com/gradient-editor/ */
    background: #fbfcfe; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmNmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iI2ZiZmNmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2Y4ZmNmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg5JSIgc3RvcC1jb2xvcj0iI2VlZjZmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iI2VkZjRmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmY1ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fbfcfe 0%, #fbfcfe 45%, #f9fdfe 46%, #f9fdfe 50%, #f8fcff 57%, #eef6f9 89%, #edf4fa 97%, #ebf5f7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfcfe), color-stop(45%,#fbfcfe), color-stop(46%,#f9fdfe), color-stop(50%,#f9fdfe), color-stop(57%,#f8fcff), color-stop(89%,#eef6f9), color-stop(97%,#edf4fa), color-stop(100%,#ebf5f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fbfcfe 0%,#fbfcfe 45%,#f9fdfe 46%, #f9fdfe 50%, #f8fcff 57%,#eef6f9 89%,#edf4fa 97%,#ebf5f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fbfcfe 0%,#fbfcfe 45%,#f9fdfe 46%,#f9fdfe 50%,#f8fcff 57%,#eef6f9 89%,#edf4fa 97%,#ebf5f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fbfcfe 0%,#fbfcfe 45%,#f9fdfe 46%,#f9fdfe 50%,#f8fcff 57%,#eef6f9 89%,#edf4fa 97%,#ebf5f7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fbfcfe 0%,#fbfcfe 45%,#f9fdfe 46%,#f9fdfe 50%,#f8fcff 57%,#eef6f9 89%,#edf4fa 97%,#ebf5f7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfcfe', endColorstr='#ebf5f7',GradientType=0 ); /* IE6-8 */
}

.img-header {
    margin: auto;
    background-position: center;
    background-size: cover;
    background-image: url("/images/header_big.jpg");
    width: 962px;
    height: 353px;
}

@media (min-width: 768px) and (max-width: 992px) {
    #home {
        padding-top: 100px
    }

    .img-header {
        background-image: url("/images/header_middle.jpg");
        width: 750px;
        height: 297px;
    }
}

@media (max-width: 768px) {
    .img-header {
        background-image: url("/images/header_small.jpg");
        width: 300px;
        height: 146px;
    }
}

/**
 * Section: ABOUT
 */

#about a {
    color: rgb(224, 126, 36)
}

#about > div {
    font-size: 20px
}

.meetups {
    margin-bottom: 2em
}

/**
 * Section: SPEAKERS
 */

#speakers {
    padding-bottom: 40px;
    background-color: #f0f0f0;
}

.speaker {
    margin-bottom: 20px
}

.speaker-title {
    margin-bottom: 0px !important
}

.subtitle {
    text-align: center;
    margin-bottom: 30px !important;
}

@media (min-width: 768px) {
    .img-circle-re {
        border: 4px solid rgb(224, 126, 36)
    }
}

.media a:hover {
    text-decoration: none
}

/**
 * Section: AGENDA
 */

@media (max-width: 568px) {
    #schedule .fa.pull-right {
        font-size: 15px;
        margin: 15px 0px 0px 5px;
    }
}

#schedule .fa.pull-right {
    padding-top: 7px
}

.schedule-table thead {
    background-color: #2c3e50;
    color: #FFFFFF;
    font-size: 25px;
    text-transform: uppercase;
}

.schedule-table .special {
    background-color: rgb(224, 126, 36);
    color: #FFFFFF;
    text-align: center;
}

#schedule {
    padding-bottom: 50px
}

.panel-title a {
    height: 55px;
    line-height: 55px;
    display: block;
    color: #000;
    padding: 0 30px;
    font-size: 22px;
    text-decoration: none;
}

.panel-default {
    border-color: #FFFFFF
}

.panel-heading {
    padding: 0px;
    border-bottom: 2px solid #173075 !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.calendar-day {
    font-weight: bolder;
    margin-left: 5px;
}

/**
 * Section: GETTING THERE
 */

#getting-there {
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-bottom: 70px;
    position: relative;
}

#map-dialog {
    background: #FFF;
    padding: 25px;
}

@media (min-width: 992px) {
    #map-dialog {
        position: absolute;
        top: 218px;
    }
}

@media (max-width: 768px) {
    #map-dialog {
        padding: 30px
    }
}

#location-address a {
    color: #173075
}

#location-address a:hover {
    text-decoration: none
}

/**
 * Section: SPONSORS
 */

#sponsors {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-bottom: 70px;
}

#sponsors h4 {
    color: rgb(224, 126, 36);
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;
}

#sponsors h2.title {
    margin: 40px 0px 30px
}

#sponsors h3 {
    text-align: center;
    color: rgb(224, 126, 36);
    font-weight: bolder;
}

#sponsors p {
    text-align: center;
    margin-top: 60px;
    color: #2c3e50;
}

.wrapper-btn {
    margin-top: 30px
}

.btn-re {
    color: #2c3e50 !important;
    font-weight: bolder;
    font-size: 20px;
}

/**
 * Section: ORGANIZERS
 */

#organizers {
    background: #f0f0f0;
    padding-bottom: 60px;
}

#organizers .img-circle-org {
    border: 1px solid rgb(224, 126, 36)
}

#organizers a {
    text-decoration: none
}

#organizers .container>div {
    padding: 15px
}

/**
 * Footer
 */

footer {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 30px 0;
}

.footer-social {
    float: right
}

.footer-social a {
    margin-right: 10px
}

.code-re {
    float: left;
    font-size: 15px;
    margin-top: 8px;
}

@media (max-width: 768px) {
    .code-re {
        margin-left: 15px
    }
}
