ul li.meetup {
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 900px) {
  ul li.meetup {
    flex-basis: 40%;
    padding: 0;

    img {
      width: auto;
    }

  }
}
