.gold, .silver {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.gold a, .silver a {
  border: none;
  margin: 1em;
}

.gold img {
  width: 300px;
  max-width: 100%;
}

.silver img {
  width: 200px;
  max-width: 100%;
}
